.title{
    font-weight: 100px;
}
.emical{

    width:90%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 20px;
}
.lables{
    display: flex;
    justify-content: space-between;
}
.tenureContainer{
    display: flex;
    justify-content: space-between;
    gap:10px
}
.tenure{
    width:15%;
    height:50px;
    border:none;
    border-radius: 100px;
    background-color: rgb(226, 226,226);
}
.selected{
    background-color: aquamarine;
    color: white;
}
.slider{
    width: 100%;
}